.alert {
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 10px 0px;
    background-color: #cde6ff;
    color: #004085;
    border-radius: 5px;
    transition: 1s all ease;
    animation: 1s fadeIn ease;
    span {
        margin-right: 20px;
    }
    button {
        color:  #004085;
        border: 1px solid  #004085;
    }
}


@keyframes fadeIn {
    from{ 
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}